/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section {
    height: 100vh;
    width: 100vw;
}

/* buttons */
.buttons {
    position: fixed;
    top: 15px;
    right: 3px;
    z-index: 2;
}
a { 
    text-decoration: none;
    padding: 5px 10px;
    background-color: white;
    font-size: 15px;
    z-index: 2;
    border-radius: 15px;
    margin-right: 15px;
}

.shoes img {
    width: 75%;
}

h2 {
    font-weight: 800;
    font-size: 50px;
    color: yellow;
}

.shoes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    text-align: center;
}

/* section 1 */

#red {
    background-color: red;
    position: relative;
}

/* section 2 */

#green {
    background-color: green;
    position: relative;
}

/* section 3 */

#yellow {
    background-color: yellow;
    position: relative;
}

.green-text {
    color: green;
}